* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 420px;
	margin: 0 auto;
}
header {
	height: 60px;
	background: #D3DEDC;	
  width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 60px;
}
h1{
	text-decoration: none;
  white-space: nowrap;
	font-size: 32px;
  font-weight: 1000;
	font-family: poppins;
	color: #009578;
	letter-spacing: 5px;
}
